@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=true&key=AIzaSyCbHDbN6jLhHjiYOzBT8DYJaZN3Wl689Ek"></script>
    <script src="~/lib/gmaps/gmaps.min.js"></script>
    <script src="~/lib/travelmap/travelmap.min.js"></script>
    <script src="~/js/simple-controls.js"></script>
    <script src="~/js/app-trips.js"></script>
    <script src="~/js/trips-controller.js"></script>
    <script src="~/js/trip-editor-controller.js"></script>
}

<div class="row" data-ng-app="app-trips">   

    <div data-ng-view></div>

</div>
